* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  font-size: 1.2rem;
}
h1 {
  font-size: 1.6rem;
}
.center {
  display: flex;
  justify-content: center;
}
.App {
  background-color: #111;
  height: 100vh;
}

.App ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.App ul li {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
}

.App ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
}
/* ================Todo========== */
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 400px;
  background-color: rgb(120, 105, 153);
  border: 0.5rem solid rgb(51, 15, 87);
  margin-top: 10px;
}
.input {
  width: 300px;
  height: 40px;
}
.removeall {
  padding: 7px 15px;
  font-size: 0.8rem;
  border: 0.2rem solid rgb(51, 15, 87);
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.icon {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.itemlist {
  list-style: none;
}
